extends template.pug
include mixins/_button.pug
block content
  div 
    p Кажется, Вы потерялись. Не в первый раз, конечно. Это нормально 
    p Глубоко вздохните и вернитесь туда, где были до этого 
    p А чтобы Вам было легче, вот Вам кнопка
    p Она ничего не делает. Она просто есть. И как видите, ее это не смущает
    +button(textButton, 'button')